@import "variables";
body {
    margin: 0;
    color: white;
}
li {
    list-style: $style;
}
ul {
    margin: 0;
}
h1 {
    font-family: Bebas Neue;
     font-style: normal;
    font-weight: bold;
    margin: 0;
}
h3 {
    margin: 0;
}
