@import "variables";
nav {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
@mixin background($imgpath,$position:0 0,$repeat: no-repeat) {
    background: {
        image: url($imgpath);
        repeat: $repeat;
        size : cover;
        position: center;

    }
}
.main-header {
    @include background('../img/header-image.png');
}

.header-navigation > ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}


.more-information > p > a {
    text-transform: uppercase;
    color:white;
    text-decoration: none;
}
.more-information > p  {
    display: flex;
    flex-direction: column;
}
@media (max-width : 380px) {
    @mixin background2($img,$positions: right 10px top 10px,$repeats: no-repeat) {
        background: {
            image: url($img);
            repeat: $repeats;
            position: $positions;
        }
         
    }
    nav {
        @include background2('../img/menu-icon.svg');
        
    }
    
}
 @media (min-width : 380px) {
    
  .icon {
      padding-right: 120px;;
     display: flex;
     justify-content: space-between;
     width:70px; 
  }
  
}
     
 
   
