@import "variables";
.article_social-header + p {
    font-family: "Open Sans";
    font-style: "normal";
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.article_social-header {
    border-bottom: 0.2rem white solid;
    margin-left: 1rem;
   
}
.article_social-header + p {
    margin-left: auto;
    padding-left: 37px;
    margin-left: auto;
    padding-right: 15px;
}

.article_social-images {
	padding: 2rem 38px;
	
}

.gallery {
	padding: 2rem 38px;
}
.unorder_container_gallery {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	padding-bottom: calc(100% * 273 / 249);
}
.unorder_container_gallery li {
	position: absolute;
}
.gallery-images-top{
	top: 0;
	left: 0;
	right: calc(100% * 24 / 249);
	z-index: 3;
}
.gallery-images-middle {
	top: 50%;
	right: calc(100% * 12 / 249);
	left: calc(100% * 12 / 249);
	transform: scale(calc(249 / 273)) translateY(-50%);
	transform-origin: 100% 0%;
	z-index: 2;
}
.gallery-images-bottom {
	top: 50%;
	right: calc(100% * 0 / 249);
	left: calc(100% * 3/ 249);
	transform: scale(calc(249 / 300)) translateY(-50%);
	transform-origin: 100% 0%;
	z-index: 1;
}
.unorder_container_gallery li img {
	max-width: 100%;
    display: block;
    border-radius: 5px;
}

@media(min-width : 380px) {
    .article_social {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
		}
		.social_container {
			padding-bottom: 4rem;
			padding-top: 4rem;
		}
		.article_social-header + p  {
			padding-top:4rem;
		}
		.social_information {
			width: 100%;
			padding-left: 50%;
			padding-top: 15%;
		}
		.social_information > p {
			width: 50%;

		}
    
}