@font-face {
  font-family: "Open Sans";
  font-style: "normal";
  font-weight: 700;
  src: local("Open Sans"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: "normal";
  font-weight: 400;
  src: local(), url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff"); }

@font-face {
  font-family: "Bebas Neue";
  font-style: "normal";
  font-weight: 700;
  src: local("Bebas Neue"), url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff"); }

body {
  font-family: "Open Sans"; }

body {
  margin: 0;
  color: white; }

li {
  list-style: none; }

ul {
  margin: 0; }

h1 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  margin: 0; }

h3 {
  margin: 0; }

nav {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.main-header {
  background-image: url("../img/header-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.header-navigation > ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0; }

.steam-button {
  background-color: #FFB548; }

.more-information > p > a {
  text-transform: uppercase;
  color: white;
  text-decoration: none; }

.more-information > p {
  display: flex;
  flex-direction: column; }

@media (max-width: 380px) {
  nav {
    background-image: url("../img/menu-icon.svg");
    background-repeat: no-repeat;
    background-position: right 10px top 10px; } }

@media (min-width: 380px) {
  .icon {
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
    width: 70px; } }

/* this is the main of the html*/
.article_social {
  background-color: black; }

@media (max-width: 380px) {
  h1 {
    font-size: 33px;
    letter-spacing: 2px; }
  h3 {
    font-size: 18px; } }

@media (min-width: 380px) {
  h1 {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    margin: 0; }
  h3 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    margin: 0; } }

.steam-button {
  display: inline-block;
  width: 260px;
  height: 60px;
  border-radius: 10px; }

.article_survive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  min-height: 80vh;
  align-items: center;
  text-transform: uppercase; }

@media (max-width: 380px) {
  .icon > a {
    visibility: hidden; }
  .more-information {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem; } }

@media (min-width: 380px) {
  .header_heading + h3 {
    padding-bottom: 28px; }
  .more-information {
    text-align: center; }
  .more-information > p {
    display: flex;
    flex: auto; }
  .more-information {
    flex: none; }
  .more-information > p + a {
    visibility: hidden; } }
