@font-face {
  font-family: "Open Sans";
  font-style: "normal";
  font-weight: 700;
  src: local("Open Sans"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: "normal";
  font-weight: 400;
  src: local("Open Sans"), url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff"); }

@font-face {
  font-family: "Bebas Neue";
  font-style: "normal";
  font-weight: 700;
  src: local("Bebas Neue"), url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff"); }

body {
  font-family: "Open Sans"; }

body {
  margin: 0;
  color: white;
  background-color: black; }

article {
  padding-left: 1rem;
  padding-right: 1rem; }

li {
  list-style: none; }

ul {
  margin: 0; }

h1 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  margin: 0; }

h3 {
  margin: 0; }

button {
  background-color: #FFB548;
  width: 260px;
  height: 60px;
  border-radius: 10px; }

nav {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.main-header {
  background-image: url("../img/header-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.header-navigation > ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0; }

.more-information > p > a {
  text-transform: uppercase;
  color: white;
  text-decoration: none; }

.more-information > p {
  display: flex;
  flex-direction: column; }

@media (max-width: 380px) {
  nav {
    background-image: url("../img/menu-icon.svg");
    background-repeat: no-repeat;
    background-position: right 10px top 10px; } }

@media (min-width: 380px) {
  .icon {
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
    width: 70px; } }

/* this is the main of the html*/
.article_social {
  background-color: black; }

h1 {
  font-size: 33px;
  letter-spacing: 2px; }

h3 {
  font-size: 18px; }

@media (min-width: 380px) {
  h1 {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px; }
  h3 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    margin: 0; } }

.steam-button {
  display: inline-block; }

.article_survive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  min-height: 80vh;
  align-items: center;
  text-transform: uppercase; }

.icon > a {
  visibility: hidden; }

.more-information {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem; }

@media (min-width: 380px) {
  .header_heading + h3 {
    padding-bottom: 28px; }
  .more-information {
    text-align: center; }
  .more-information > p {
    display: flex;
    flex: auto; }
  .more-information {
    flex: none; }
  .more-information > p + a {
    visibility: hidden; } }

.article_social-header + p {
  font-family: "Open Sans";
  font-style: "normal";
  font-weight: normal;
  font-size: 14px;
  line-height: 16px; }

.article_social-header {
  border-bottom: 0.2rem white solid;
  margin-left: 1rem; }

.article_social-header + p {
  margin-left: auto;
  padding-left: 37px;
  margin-left: auto;
  padding-right: 15px; }

.article_social-images {
  padding: 2rem 38px; }

.feature-article {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 40%, black 50%, rgba(0, 0, 0, 0.9) 100%), url(../img/manimage.png);
  background-repeat: no-repeat;
  background-size: cover , auto 100%;
  background-position: 0, 0, 50% , 50%; }

.feature-container {
  padding-inline-start: 116px;
  padding-block-start: 82px;
  padding-block-end: 82px; }

.feature-summary {
  color: #FFB548;
  text-transform: uppercase;
  line-height: 21px;
  font-family: Bebas Neue;
  font-size: 21px;
  padding-bottom: 2.5rem; }

.feature_header + ul {
  padding-left: 0;
  padding-top: 2rem; }

.feature-container {
  padding-left: 50%; }

@media (min-width: 380px) {
  .feature-container {
    padding-left: 30%; }
  .feature-summary {
    font-size: 36px; }
  .feature-article {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, black 37%, black 70%, rgba(0, 0, 0, 0.9) 100%), url(../img/manimage.png); } }

.requirement_article {
  background-image: url(../img/oldhouse.png);
  background-repeat: no-repeat;
  background-position: 0 380px;
  padding-bottom: 400px; }

.requierement_article-header {
  text-align: center; }

.requirement_container {
  display: grid;
  grid-template-areas: " os processor " " memory storage" " graphic  graphic";
  grid-template-columns: repeat(2, 1fr);
  padding-left: 0;
  margin-left: 1rem;
  margin-right: 1rem; }

.requirement_container li {
  border: 1px white solid; }

.requirement_container li b {
  color: #FFB548;
  text-transform: uppercase; }

.list_item_requirement {
  grid-area: os; }

.list_item_memory {
  grid-area: memory; }

.list_item_processor {
  grid-area: processor; }

.list_item_sstorage {
  grid-area: storage; }

.list_item_graphic {
  grid-area: graphic; }

@media (min-width: 380px) {
  .requirement_article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-position: right;
    padding-bottom: 0; }
  .requierement_article-header {
    grid-column: 1/3;
    padding-bottom: 133px;
    padding-top: 100px; }
  .requirement_container {
    margin-left: 122px;
    padding-bottom: 133px; } }

.quotes_article_header {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.quotes_article_header button {
  margin-left: 50px; }
