@font-face {
  font-family: "Open Sans";
  font-style: "normal";
  font-weight: 700;
  src: local("Open Sans"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: "normal";
  font-weight: 400;
  src: local("Open Sans"), url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff"); }

@font-face {
  font-family: "Bebas Neue";
  font-style: "normal";
  font-weight: 700;
  src: local("Bebas Neue"), url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff"); }

body {
  font-family: "Open Sans"; }

body {
  margin: 0;
  color: white;
  background-color: black; }

article {
  padding-left: 1rem;
  padding-right: 1rem; }

li {
  list-style: none; }

ul {
  margin: 0; }

h1 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  margin: 0; }

h3 {
  margin: 0; }

button {
  background-color: #FFB548;
  width: 260px;
  height: 60px;
  border-radius: 10px; }

nav {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.main-header {
  background-image: url("../img/header-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.header-navigation > ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0; }

.more-information > p > a {
  text-transform: uppercase;
  color: white;
  text-decoration: none; }

.more-information > p {
  display: flex;
  flex-direction: column; }

@media (max-width: 380px) {
  nav {
    background-image: url("../img/menu-icon.svg");
    background-repeat: no-repeat;
    background-position: right 10px top 10px; } }

@media (min-width: 380px) {
  .icon {
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
    width: 70px; } }

div > header > .incon-menu {
  display: block;
  width: 1rem;
  height: 1rem;
  list-style: none;
  text-decoration: none;
  background-image: url(../img/menu-icon.png);
  background-repeat: no-repeat;
  transform: translate(315px, 0px); }

.list_item_menu > a {
  list-style: none;
  text-decoration: none;
  line-height: 50px;
  text-transform: uppercase;
  margin-inline-start: 20px;
  padding-inline-start: 25px;
  color: white; }

.list_item_menu {
  background-repeat: no-repeat;
  background-position: 10px 15px;
  transform: translate(29px, 80px); }

div > [type="checkbox"] {
  display: none; }

div > .menu {
  transform: translateX(-180px);
  position: absolute; }

form {
  padding-right: 6rem; }

.menu > ul {
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0; }

.checkbox_input[type=checkbox]:checked ~ header label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: transparent;
  background: none;
  width: 100%;
  height: 100%; }

.checkbox_input:checked ~ nav {
  transform: translateX(0);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 250px;
  background-color: #646060;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.25); }

span {
  display: none; }

div > .menu-header {
  justify-content: space-between;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  transform: translate(0px, 12px); }

.checkbox_input + header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.img_decsription {
  display: none; }

@media (min-width: 768px) {
  div > .menu {
    padding: 0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: none;
    transform: none;
    transition: none; }
  div > .menu > ul {
    flex-direction: row;
    display: flex;
    transform: translate(150px, 0px); }
  div > .menu > ul > .list_item_menu > a {
    font-size: 12px; }
  div > header > .incon-menu {
    background-image: none; }
  .header_logo {
    text-align: none;
    text-transform: none;
    font-size: none;
    position: absolute;
    right: 4rem; }
  .list_item_menu {
    background-repeat: no-repeat;
    background-position: 10px 15px;
    transform: none; }
  .img_decsription {
    display: inline;
    margin: 0;
    padding-right: 2rem; }
  .header_container {
    padding-bottom: 4rem; } }

/* this is the main of the html*/
.article_social {
  background-color: black; }

h1 {
  font-size: 33px;
  letter-spacing: 2px; }

h3 {
  font-size: 18px; }

@media (min-width: 380px) {
  h1 {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px; }
  h3 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    margin: 0; } }

.steam-button {
  display: inline-block; }

.article_survive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  min-height: 80vh;
  align-items: center;
  text-transform: uppercase; }

.icon > a {
  visibility: hidden; }

.more-information {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem; }

@media (min-width: 380px) {
  .header_heading + h3 {
    padding-bottom: 28px; }
  .more-information {
    text-align: center; }
  .more-information > p {
    display: flex;
    flex: auto; }
  .more-information {
    flex: none; }
  .more-information > p + a {
    visibility: hidden; } }

.article_social-header + p {
  font-family: "Open Sans";
  font-style: "normal";
  font-weight: normal;
  font-size: 14px;
  line-height: 16px; }

.article_social-header {
  border-bottom: 0.2rem white solid;
  margin-left: 1rem; }

.article_social-header + p {
  margin-left: auto;
  padding-left: 37px;
  margin-left: auto;
  padding-right: 15px; }

.article_social-images {
  padding: 2rem 38px; }

.feature-article {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 40%, black 50%, rgba(0, 0, 0, 0.9) 100%), url(../img/manimage.png);
  background-repeat: no-repeat;
  background-size: cover , auto 100%;
  background-position: 0, 0, 50% , 50%; }

.feature-container {
  padding-inline-start: 116px;
  padding-block-start: 82px;
  padding-block-end: 82px; }

.feature-summary {
  color: #FFB548;
  text-transform: uppercase;
  line-height: 21px;
  font-family: Bebas Neue;
  font-size: 21px;
  padding-bottom: 2.5rem; }

.feature_header + ul {
  padding-left: 0;
  padding-top: 2rem; }

.feature-container {
  padding-left: 50%; }

@media (min-width: 380px) {
  .feature-container {
    padding-left: 30%; }
  .feature-summary {
    font-size: 36px; }
  .feature-article {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, black 37%, black 70%, rgba(0, 0, 0, 0.9) 100%), url(../img/manimage.png); } }

.requirement_article {
  background-image: url(../img/oldhouse.png);
  background-repeat: no-repeat;
  background-position: 0 380px;
  padding-bottom: 400px; }

.requierement_article-header {
  text-align: center; }

.requirement_container {
  display: grid;
  grid-template-areas: " os processor " " memory storage" " graphic  graphic";
  grid-template-columns: repeat(2, 1fr);
  padding-left: 0;
  margin-left: 1rem;
  margin-right: 1rem; }

.requirement_container li {
  border: 1px white solid; }

.requirement_container li b {
  color: #FFB548;
  text-transform: uppercase; }

.list_item_requirement {
  grid-area: os; }

.list_item_memory {
  grid-area: memory; }

.list_item_processor {
  grid-area: processor; }

.list_item_sstorage {
  grid-area: storage; }

.list_item_graphic {
  grid-area: graphic; }

@media (min-width: 380px) {
  .requirement_article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-position: right;
    padding-bottom: 0; }
  .requierement_article-header {
    grid-column: 1/3;
    padding-bottom: 133px;
    padding-top: 100px; }
  .requirement_container {
    margin-left: 122px;
    padding-bottom: 133px; } }

.quotes_article_header {
  display: flex;
  flex-direction: column; }

.quotes_article_header button {
  margin-left: 50px; }

.person-container > a {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem; }

.quotes_article_header + ul li {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 1rem; }

.quotes-container {
  padding-left: 0; }

.twitter {
  position: absolute;
  top: 1rem;
  right: 1rem; }

.person-container + p + p {
  padding-bottom: 1rem; }

.person-container {
  display: flex;
  position: relative; }

@media (min-width: 380px) {
  .quotes_article {
    display: flex; }
  .quotes_article_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 2;
    padding-left: 10rem;
    padding-right: 10rem; }
  .quotes_article_header button {
    margin-left: 0; }
  .quotes_article_header + ul li {
    padding-inline-start: 1rem;
    background-repeat: no-repeat;
    background-position: left 1px; }
  .quotes_article_header + ul {
    padding-right: 4rem; }
  .firstPesone {
    transform: translateX(20px); }
  .firstPesone + li {
    transform: translateX(-50px); }
  .firstPesone + li + li {
    transform: translateX(10px); }
  .person-container > a {
    padding-left: 0; } }

.subscribe_article {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 66%, black 82%, rgba(0, 0, 0, 0.9) 100%), url(../img/mayan-raul-osorio-totem.png);
  background-repeat: no-repeat;
  background-size: 230px 358px;
  background-position: -100px 0px;
  margin: 0; }

.subscribe_container {
  width: 80%;
  padding-left: 38%; }

.label-input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse; }

.label-input > input {
  border-radius: 10px;
  width: 300px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  background: rgba(255, 255, 255, 0.08); }

.label-input button {
  width: 308px;
  padding-left: 1rem; }

@media (min-width: 380px) {
  .subscribe_article {
    margin: 0; }
  .subscribe_article {
    background-size: 40%;
    background-position: 0px;
    background-color: black; }
  .subscribe_container {
    padding-left: 50%; }
  .subscribe_article > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    padding-left: 20%; }
  .label-input {
    display: flex;
    flex-direction: row;
    transform: translate(480px, 10px); }
  .label-input > input {
    margin: 0;
    margin-right: 1.5rem; } }

.footer_list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 2rem; }

.footer_list li {
  padding-bottom: 2rem; }

.footer_list + ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 2rem;
  padding-bottom: 2rem; }

.footer_list + ul li {
  padding-left: 0; }

.logo_list {
  padding-bottom: 2rem;
  padding-left: 30%; }

ul p {
  font-size: 13px;
  color: #FFFFFF;
  opacity: 0.5; }

.footer_list li a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  text-transform: uppercase; }

.footer_link {
  border-bottom: 1px white solid;
  padding-bottom: 0;
  margin: auto; }

.outpost_game {
  padding-left: 0;
  text-align: center; }

.outpost_game > li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none; }

.secures li a {
  text-transform: uppercase;
  text-decoration: none;
  color: white; }

.secures {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (min-width: 380px) {
  .footer_link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 6rem; }
  .footer_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .footer_list > li {
    padding-right: 2rem; }
  .footer_list + ul {
    display: inline; }
  .footer_list + ul li {
    display: inline;
    padding-inline-start: 2rem; }
  .outpost_game_secure {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem; }
  .outpost_game_secure p {
    margin: 0; }
  .secures {
    display: flex;
    flex-direction: row; } }
