.quotes_article_header {
  display: flex;
  flex-direction: column; }

.quotes_article_header button {
  margin-left: 50px; }

.person-container > a {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem; }

.quotes_article_header + ul li {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 1rem; }

.quotes-container {
  padding-left: 0; }

.twitter {
  position: absolute;
  top: 1rem;
  right: 1rem; }

.person-container + p + p {
  padding-bottom: 1rem; }

.person-container {
  display: flex;
  position: relative; }

@media (min-width: 380px) {
  .quotes_article {
    display: flex; }
  .quotes_article_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 2;
    padding-left: 10rem;
    padding-right: 10rem; }
  .quotes_article_header button {
    margin-left: 0; }
  .quotes_article_header + ul li {
    padding-inline-start: 1rem;
    background-repeat: no-repeat;
    background-position: left 1px; }
  .quotes_article_header + ul {
    padding-right: 4rem; }
  .firstPesone {
    transform: translateX(20px); }
  .firstPesone + li {
    transform: translateX(-50px); }
  .firstPesone + li + li {
    transform: translateX(10px); }
  .person-container > a {
    padding-left: 0; } }
